# idea folder
.idea/
__pycache__/
.vscode/

data/
checkpoints/
checkpoint/

docker/debug.sh

# local config file
utils/local_config.py

# temporal python files
*.py[cod]
*.out
*.npy
*.pdf
*.txt